#!/usr/bin/env rc

fn median {
	sort -n \
		| awk '{a[NR]=$1} END{mid=NR/2; print (NR%2 ? a[int(mid+1)] : (a[mid]+a[mid+1])/2)}'
}

fn test {
	cast estimate --rpc-url https://testnet-rpc.superposition.so 0x12bb7f084bd147d4d542215e5f125122812331ea 'prove(bytes32,uint32)' `{echo $i | keccak256} 0
}

seq 100 | parallel -j100 test | median
